html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
#PageHeader {
    height: 15%;
    background-color: cornflowerblue;
    padding-left: 70px;
}
.NavHeader {
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}

#logo {
    display:block;
    float:left;
    padding-left: 40px;
}

#PageTitle {
    display:inline-block;
    font-size: 40px;
    padding-left: 20px;
}

#user {
    padding-left: 450px;
    display:inline-block;
    font-size: 50px;
}

#NavigationMenue {
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 200px;
    width: 100%;
    display: grid;
}

.navTable {
    outline-style: solid;
    padding-top: 5px;
    width: 77%;
}

#optionLogo {
    padding-left: 10px;
    display:block;
    float:left;
}

#opotionName {
    display:inline-block;
    padding-left: 60px;
    font-size: 20px;
}

.navTable toolTipText {
    display: none;
}

.navTable:hover {
    background-color: rgb(218, 208, 208);
}

.navTable span {
    display:none;
}
.navTable:hover span {
    display:block;
    font-size: 20px;
    position:fixed;
    overflow:hidden;
}


